@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "CactusBold";
  src: url("/public/fonts/CactusBold.ttf") format("truetype"); /* Ajusta el formato dependiendo del archivo que tengas */
  font-weight: normal;
  font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; /* Transición larga para efectivamente 'anular' el cambio de color de fondo */
  -webkit-text-fill-color: inherit !important; /* Asegura que el color del texto no cambie, opcional si deseas mantener el color del texto */
}
